<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="creative_web_Develop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <creative_web_Develop.Properties.Settings>
      <setting name="host" serializeAs="String">
        <value />
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="folder" serializeAs="String">
        <value />
      </setting>
      <setting name="splashscreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="darktheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="highdpi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="safemode" serializeAs="String">
        <value />
      </setting>
      <setting name="phpexe" serializeAs="String">
        <value>php/php.exe</value>
      </setting>
      <setting name="libdirectory" serializeAs="String">
        <value>/lib/</value>
      </setting>
      <setting name="level" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="progress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="onethree" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="errorlist" serializeAs="String">
        <value />
      </setting>
      <setting name="licenced" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Textboxcolor" serializeAs="String">
        <value>64, 64, 64</value>
      </setting>
      <setting name="documentmapbackground" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="textboxforecolor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="textbosidebarcolor" serializeAs="String">
        <value>64, 64, 64</value>
      </setting>
      <setting name="textbosidebarforecolor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="documentmapfore" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="activationkeys" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>tdWR1faRz8</string>
            <string>xTmZvwiBjx</string>
            <string>l8KH3kY5wn</string>
            <string>C38lTyN1Ew</string>
            <string>Hz4qvDkrjt</string>
            <string>EYBET2crdK</string>
            <string>3DKR17UtIx</string>
            <string>34jZyFmpmA</string>
            <string>aLFdHITJCa</string>
            <string>YvUF9uSYgs</string>
            <string>7bk5unFhpV</string>
            <string>carSvGg5hM</string>
            <string>LFC6A1KJCv</string>
            <string>pG0d2YvcBz</string>
            <string>wKY0eZlCJz</string>
            <string>3hfHIbnuBs</string>
            <string>ODRhCJR3Kz</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="defaultelectronstart" serializeAs="String">
        <value>const { app, BrowserWindow } = require('electron')

function createWindow () {
  // Create the browser window.
  const win = new BrowserWindow({
    width: 800,
    height: 600,
    webPreferences: {
      nodeIntegration: true
    }
  })

  // and load the index.html of the app.
  win.loadFile('index.html')
}

app.whenReady().then(createWindow)</value>
      </setting>
      <setting name="defaultindexelectron" serializeAs="String">
        <value>{
  "name": "667_files",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "electron .",
    "compile": "electron-builder -mwl",
    "compilewin": "electron-builder --windows",
    "compilemac": "electron-builder --mac",
    "compilelinux": "electron-builder --linux"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "dependencies": {
    "electron": "^9.1.2",
    "electron-packager": "^15.0.0"
  }
}</value>
      </setting>
    </creative_web_Develop.Properties.Settings>
  </userSettings>
</configuration>