<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="creative_web_Develop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <creative_web_Develop.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="folder" serializeAs="String">
                <value />
            </setting>
            <setting name="splashscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darktheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="highdpi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="safemode" serializeAs="String">
                <value />
            </setting>
            <setting name="phpexe" serializeAs="String">
                <value>php/php.exe</value>
            </setting>
            <setting name="libdirectory" serializeAs="String">
                <value>/lib/</value>
            </setting>
            <setting name="level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="progress" serializeAs="String">
                <value>0</value>
            </setting>
        </creative_web_Develop.Properties.Settings>
    </userSettings>
</configuration>